.delivery {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.section-subtitle {
    text-align: center;
    margin-bottom: 20px;
}

.section-paragraph {
    text-align: center;
    margin-bottom: 40px; /* THIS FIXES THE GAP */
}

.section-content {
    margin-top: 20px;
    background: var(--section-content-background);
    color: white;
    padding: 30px;
    border-radius: var(--border-radius);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delivery-images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    margin-top: 40px;
    flex-wrap: wrap; /* important for mobile */
}

.delivery-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;

    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    transition: transform 0.3s ease;
}

.delivery-images img:hover {
    transform: scale(1.05);
}