/*Index/ home page styling*/

:root {
    --background-color: rgba(243, 243, 243, 1);
    --primary-color: rgba(8, 16, 12, 1);
    --secondary-color: rgba(229, 204, 143, 1);
    --section-title-background: rgba(185, 185, 185, 0.15);
    --section-content-background: rgba(31, 38, 42, 1);
}

html, body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
    background-color: var(--background-color);
}

/*Custom Scroll bar*/

::-webkit-scrollbar {
    width: 20px;
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 10px;
    border: 7px solid var(--primary-color);
}

/*End of custom scroll bar*/

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-sizing: border-box;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.container #brand-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

.container h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    color: var(--secondary-color);
}

.container img {
    display: block;
    justify-items: flex-start;
    width: 90px;
    height: auto;
}

.container nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: 25px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
}

#main-nav li {margin: 0;}

#main-nav a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 25px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

#main-nav a:hover, #main-nav a:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 250px;
    box-sizing: border-box;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.hero h2 {
    font-size: 32px;
    color: var(--primary-color);
    text-align: center;
    font-weight: 400;
    width: 100%;
    word-spacing: 5px;
    letter-spacing: 1px;
    box-sizing: border-box;
}

.hero img {
    width: 50%;
    height: auto;
    margin-top: 50px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.about-me .section-title {
    width: 20%;
    background-color: var(--section-title-background);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    margin-bottom: 100px;
}

.section-title h2 {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 1px;
    text-align: center;
}

.section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.section-content .text-content {
    box-sizing: border-box;
    line-height: 40px;
    width: 40%;
    margin-left: 100px;
    margin-top: 50px;
    background-color: var(--section-content-background);
    color: var(--background-color);
    padding: 40px;
    border-radius: 50px;
}

.text-content p {
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    letter-spacing: 1px;
}


/*About me image styling (after receiving it)*/



/*Footer section*/

footer {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
}

#left-footer, #middle-footer, #right-footer {
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}

#left-footer, #right-footer {
    text-align: left;
    margin-left: 50px;
}

/*Footer separator*/

.separator {
    width: 1px;
    height: 80px;
    background-color: var(--secondary-color);
}

/*Left footer*/

#left-footer {
    font-size: 16px;
    font-weight: 100;
}

/*Middle footer*/

#middle-footer {
    text-align: center;
    font-size: 14px;
    font-weight: 100;
    word-spacing: 5px;
    letter-spacing: 1px;
}

/*Right footer*/

#right-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#right-footer h4 {
    font-size: 16px;
    font-weight: 100;
}

#right-footer .social-media-icons {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
}

#right-footer img {
    width: 40px;
    height: auto;
    transition: filter 0.3s;
}